@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;

    /* Font */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body {
    overflow: hidden;
}

.heading {
    font-size: 1.3vw;
    margin: 0.5vw;
    padding: 0.5vw;
    height: 7vw;
    width: 17vw;
    border: 0.1vw dashed #666666;
    background: black;
}

.heading p {
    padding: 0.1vw;
    font-size: 0.8vw;
    font-weight: 300;
}

/* Sun */
#sun,
#sun img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
}

/* Common Classes */
/* Planet Common Class */
.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    display: inline-flex;
    background: none;
}

/* Orbit Common Class */
.orbit {
    position: absolute;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    /* Animation for orbit rotation */
    /* animation: orbitAnimation 10s linear infinite; */
    background: none;
    z-index: 1;
}

/* Orbit Animation */
@keyframes orbitAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* PLANET AND THEIR ORBITS */

/* MERCURY */
#mercuryOrbit {
    /* Adjust the top orbit radius position relative to the body */
    top: calc(50% - 30px);
    /* Adjust the left orbit radius position relative to the body */
    left: calc(50% - 30px);
    /* Diameter of the orbit */
    width: 60px;
    /* Diameter of the orbit */
    height: 60px;
    /* So that planet's half part can be visible outside the orbit div */
    overflow: visible;
}

#mercury img {
    width: 8px;
    height: 8px;
    transform-origin: 0% 50%;
}


/* VENUS */
#venusOrbit {
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    overflow: visible;
}

#venus img {
    width: 12px;
    height: 12px;
    transform-origin: 0% 50%;
}


/* EARTH */
#earthOrbit {
    top: calc(50% - 110px);
    left: calc(50% - 110px);
    width: 220px;
    height: 220px;
    overflow: visible;
}

#earth img {
    width: 15px;
    height: 15px;
    transform-origin: 0% 50%;
}

/* MOON */
#moonOrbit {
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    overflow: visible;
}

#moon img {
    width: 5px;
    height: 5px;
    transform-origin: 0% 50%;
}


/* MARS */
#marsOrbit {
    top: calc(50% - 170px);
    left: calc(50% - 170px);
    width: 340px;
    height: 340px;
    overflow: visible;
}

#mars img {
    width: 10px;
    height: 10px;
    transform-origin: 0% 50%;
}


/* JUPITER */
#jupiterOrbit {
    top: calc(50% - 220px);
    left: calc(50% - 220px);
    width: 440px;
    height: 440px;
    overflow: visible;
}

#jupiter img {
    width: 25px;
    height: 25px;
    transform-origin: 0% 50%;
}


/* SATURN */
#saturnOrbit {
    top: calc(50% - 285px);
    left: calc(50% - 285px);
    width: 570px;
    height: 570px;
    overflow: visible;
}

#saturn img {
    width: 38px;
    height: 38px;
    transform-origin: 0% 50%;
}


/* URANUS */
#uranusOrbit {
    top: calc(50% - 350px);
    left: calc(50% - 350px);
    width: 700px;
    height: 700px;
    overflow: visible;
}

#uranus img {
    width: 13px;
    height: 13px;
    transform-origin: 0% 50%;
}


/* NEPTUNE */
#neptuneOrbit {
    top: calc(50% - 400px);
    left: calc(50% - 400px);
    width: 800px;
    height: 800px;
    overflow: visible;
}

#neptune img {
    width: 13px;
    height: 13px;
    transform-origin: 0% 50%;
}

